* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #264969;
  --secondary-color: #505033;
  --accent1-color: #4b4f4e;
  --accent2-color: #b4cde4;
  --heading-font: "Merriweather", serif;
  --body-font: "Roboto", sans-serif;
}
header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header,
main{
  width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.socialmedia {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease;
}
footer {
  /* display: inline-block; */
  padding: 10px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  border: 4px solid #999;
  margin: 10px;
}
.hero {
  position: relative;
  margin: 10px;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}
article {
  display: inline-block;
  position: absolute;
  top: 100px;
  width: auto;
  padding: 10px;
  text-align: start;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
  border: 3px solid var(--accent2-color);
  border-radius: 8px;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
nav a {
  text-decoration: none;
  color: var(--accent2-color);
  transition: color 0.3s ease;
}
nav a:hover {
  color: #fff;
  font-weight: bold;
}
.history {
  padding: 30px;
  text-align: center;
  border: 4px solid #999;
  margin: 10px;
}
.history .text-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
  padding: 20px;
}
.text-block img {
  width: 30%;
  height: auto;
  max-width: 450px;
}
.gallery {
  padding: 30px;
  border: 4px solid #999;
  margin: 10px;
  text-align: center;
}
.gallery h2 {
  margin-bottom: 20px;
}
.gallery .images {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}
.gallery .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.gallery .image-box img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gallery .caption {
  margin-top: 10px;
  font-size: smaller;
}
