* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #264969; 
  --secondary-color:#505033 ; 
 --accent1-color: #4B4F4E;
  --accent2-color: #b4cde4;
  --heading-font: "Merriweather", serif;
  --body-font: "Roboto", sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
  }
  
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
  position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}
article {
    display: inline-block;
  position: absolute;
  top: 100px;
  width: auto;
  padding: 10px;
  text-align: start;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}

.hero article img {
  float: right;
  width: 125px;
  border: 3px solid var(--accent2-color);
  border-radius: 8px;
}